<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532868949245-u2f5rbpfk42c1o0rm0ociq6klflc1i31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532868949245-u2f5rbpfk42c1o0rm0ociq6klflc1i31</string>
	<key>API_KEY</key>
	<string>AIzaSyB120K0K5vXCdYVXH2v7vTRR-nQNejdKoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>532868949245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevgitoprak.PhotoSharingApp</string>
	<key>PROJECT_ID</key>
	<string>photosharingapp-4aac7</string>
	<key>STORAGE_BUCKET</key>
	<string>photosharingapp-4aac7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532868949245:ios:b8c8ff68bef680ad7a8a94</string>
</dict>
</plist>